* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plain", sans-serif;
  letter-spacing: 0.01em;
  font-weight: 200;
}  

body { 
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-color: rgba(0, 72, 217, .8);
} 
  
form {
  position: relative; 
  width: auto;
  height: 50px;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
}

input{ 
  letter-spacing: 1.3px;
  line-height: 40px;
  width: 100%;
  height: 100%; 
  background: none;
  font-size: 1rem; 
  font-family: arial;
  text-align: center; 
  border: none;
  outline: none;
  color: white;
}
 
input::placeholder {
  color: rgb(189, 189, 189);
} 

 
.input-bottom {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 2.7px;
  border-radius: 2%;
  background-color:white;
}