@mixin atSmall { 
  @media (min-width: 450px) {
    @content
  }
} 

@mixin atMedium {
  @media (min-width: 750px) {
    @content
  }
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plain", sans-serif;
  font-weight: 200;
}  
 
body { 
  width: 100%;
  height: 100vh;
  background-color: rgba(254, 246, 14, 0.8);
}

canvas {
  display: none;

  @include atSmall{
    display: block;
  }   
} 


.mobile {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;

  @include atSmall{
    display: none;
  }
}  
  
form {
  position: relative; 
  width: auto;
  height: 50px;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  display: none;

  @include atSmall{
    display: block;
  }
}

input{ 
  width: 100%;
  height: 100%; 
  background: none;
  font-size: 1rem; 
  font-family: arial;
  text-align: center; 
  border: none;
  outline: none;
  color: black
}
 
input::placeholder {
  color: black
} 
 
 
.input-bottom {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 2.7px;
  border-radius: 2%;
  background-color:black
}