* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plain", sans-serif;
  letter-spacing: 0.01em;
  font-weight: 200;
}  

  
form {
  position: relative;
  width: auto;
  height: 50px;
  position: absolute;
  bottom: 35px;
  left: calc(50% - 125px);
}

input{ 
  letter-spacing: 1.3px;
  line-height: 40px;
  width: 100%;
  height: 100%;
  background: none;
  font-size: 1rem; 
  font-family: arial;
  text-align: center;
  border: none;
  outline: none;
  // color: rgb(189, 189, 189);
}
 
input::placeholder {
  color: rgb(189, 189, 189);
}


.input-bottom {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 2.7px;
  border-radius: 2%;
  background-color:rgb(43, 43, 43);
}

